@model IEnumerable<PsyAgregator.Models.Psychologist>
@{
    ViewData["Title"] = "GetPsychologistList";
}

<h1>Каталог специалистов</h1>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="photo-index-card">
            <div>
                <span class="display">

                    <img class="photo-display-img" src="~/images/@item.PhotoFileName" alt="Sample Image" />
                    <br>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.MidName)
                    @Html.DisplayFor(modelItem => item.LastName)
                    <br>
                    <a asp-action="AboutPsychologist" asp-route-id="@item.PsychologistID">Подробнее о специалисте</a>
                </span>
            </div>
        </div>
    }
</div>
