
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="display-4" style="text-align:center;"><b>О нас</b></h1>

<p align="justify" style="margin-left: 15%; margin-right:15%;">
    Миссия проекта - помогать людям преодолевать всевозможные психологические проблемы 
    по мере финансовой возможности клиента.
    Основной целью данного проекта является создание агрегатора.

    Особенность проекта представляет собой то, что цена работы договорная между клиентом и терапевтом, 
    что позволит работать по финансовым возможностям клиента (однако не ниже 500 рублей в час, 
    что связано с необходимостью того, что бы у проекта были средства для развития, специалисты 
    получали деньги за свою работу, а также это важно для самого процесса терапии, так он приобретает
    особую ценность и для самого клиента). Также важно отметить, что в проекте будут задействованы 
    квалифицированные специалисты.
    Подбор будет происходить на основании алгоритмов сайта: перед началом работы и клиенты, и 
    терапевты будут проходить небольшое тестирование. Это тестирование, разработанное командой 
    психологов проекта, позволит обеспечить качественный подбор специалистов. Для клиента в 
    тестировании важно узнать в каком функциональном состоянии он находится здесь и сейчас, 
    какие проблемы его беспокоят и какими личностными характеристиками он обладает и хотел бы, 
    чтобы обладал специалист. Для специалистов тестирование будет проходить на определение
    личностных качеств и сфер работы. Также будет вестись личное собеседование с каждым претендентом
    на работу в проекте.
    После прохождения тестирования, клиенту, исходя из его запроса и представлений о терапевте,
    алгоритм предложит ряд наиболее подходящих специалистов, клиент также называет сумму, которую 
    он может заплатить за сеанс. У каждого специалиста будет прописан ряд профессиональных 
    характеристик. Выбрав понравившегося, клиент нажимает “связаться”, в результате чего 
    терапевту поступает сигнал, что к нему пришел клиент. Далее терапевт работает с клиентом.
</p>
<img src="~/images/ph2.jpg" style="display:block; margin: auto;">
<div class="d-grid gap-2" style="margin:15%;">
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-success">На главную</a>
</div>
