
@{
    ViewData["Title"] = "AboutTherapy";
}


<div>
    <h2><i>О терапии</i></h2>
    <p><i>Quasi quo quisquam explicabo libero doloribus? Facere perspiciatis hic cupiditate, libero maxime, rem numquam repellat? Numquam error sit nobis, vel maxime ad!</i></p><br><br>
    <button>@Html.ActionLink("На главную", "Index")</button><br><br>
    <text>Все права защищены. PsyhologySky</text>
</div>
