
@{
    ViewData["Title"] = "AboutTherapy";
}

<h1 class="display-4" style="text-align:center;"><b>О психотерапии</b></h1>
<p align="justify" style="margin-left: 15%; margin-right:15%;">
    Психотерапия – это способ лечения, основанный на взаимодействии двух или более человек. Психотерапевтическое лечение заключается в том, что человек беседует с психотерапевтом или, к примеру, с участниками терапевтической группы о тех проблемах, для решения которых он нуждается в терапии. Посредством беседы он может разобраться в тяжелых переживаниях и найти решение своих проблем. Психотерапия может быть индивидуальной, парной, семейной или групповой. Читать далее об обращении за помощью.
    Психотерапия основана на межличностном взаимодействии, тем не менее, это не просто обычная беседа. Психотерапия – это способ лечения, который имеет четкие цели. Посредством беседы пытаются облегчить или преодолеть страдания, вызванные психическим расстройством или другими жизненными проблемами. Согласно исследованиям, психотерапия является эффективным средством преодоления, например, депрессии.
    Разговорную помощь оказывают представители многих профессиональных групп, и зачастую помогает просто разговор с кем-нибудь, кому доверяешь. Тем не менее, официальную психотерапию могут проводить только специально обученные психотерапевты.
    Психотерапия – достаточно длительный процесс, который не ограничивается одним или двумя сеансами. В некоторых случаях лечение может длиться годами, чтобы закрепить полученный результат. Часто пациенты считают, что достаточно один раз обратиться к врачу-психотерапевту, и проблемы, которые накапливались годами, решатся как по взмаху волшебной палочки.

    Психотерапия — не эзотерика и не беседа с приятелем, а научная область.
    Ее эффективность доказывается в исследованиях, работа подчиняется строгим принципам и профессиональной этике, а методы достаточно регламентированы.

    Также в психотерапии огромную роль играют отношения между терапевтом и клиентом — так называемый терапевтический альянс. Эти отношения — не дружеские. Они строятся на сотрудничестве, общей цели и доверии. На терапии вы никогда не столкнетесь с критикой и осуждением. Для многих это бывает первый опыт подобного общения, который в будущем помогает выстраивать хорошие отношения с другими людьми.

    В психотерапии много разных направлений (когнитивно-бихевиоральная терапия, гештальт-терапия, клиент-центрированный подход и другие).

</p>
<img src="~/images/abopsy.jpg" style="display: block; margin: auto; resize: both;">
<h1 class="display-4" style="text-align:center;"><b>Про подходы</b></h1>
<h1 class="display-5" style="text-align:center;"><b>Когнитивно-поведенческий подход</b></h1>
<p align="justify" style="margin-left: 15%; margin-right:15%;">
    Когнитивно-поведенческая терапия (или КПТ) – методика, которая выделяет неосознанные мотивации человека, переводит их на сознательный уровень, помогает изменить убеждения и поведение, вызывающие невротические и другие патологические состояния.

    Из названия понятно, что КПТ соединяет в себе два научных психологических подхода: когнитивный и поведенческий (бихевиористский). Первый заявляет то, что психологические проблемы и нервно-психические расстройства вызываются мыслями и убеждениями, стереотипами мышления, приобретенными в течение жизни. Второй утверждает, что поведение человека (как и животного) можно изменить с помощью поощрения желаемых форм действий и отсутствия подкрепления нежелательных поступков

    Поиск и осознание автоматических мыслей – основа метода КПТ. В нашей голове за сутки возникает порядка 20 тысяч таких быстрых мыслей, которые являются откликом на происходящее с нами. Они всегда оценочны. Эволюционно автоматические мысли необходимы, чтобы мы могли быстро реагировать на изменения в окружающей среде. Большинство из них мы не успеваем осознать. Эти мысли запускают нашу эмоциональную реакцию. Для того, чтобы понять, почему наше состояние изменилось (появилась тревога, страх, упало настроение), надо выявить, какая именно мысль вызвала это изменение. КПТ предлагает искать быстрые мысли, чтобы прорабатывать их и переводить свои суждения в рациональное русло.

</p>
<img src="~/images/kpt.jpg" style="display:block; margin: auto; flex:auto;">
<div class="d-grid gap-2" style="margin:15%;">
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-success">На главную</a>
</div>
