
@{
    ViewData["Title"] = "AboutUs";
}

<div>
    <h2><i>О PsyhologySky</i></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium necessitatibus impedit expedita non nam aliquid ut sequi atque accusantium vel ad eaque doloremque numquam consectetur aperiam perferendis veritatis, ipsam nisi.</p><br><br>
    <button>@Html.ActionLink("На главную", "Index")</button><br><br>
    <text>Все права защищены. PsyhologySky</text>
</div>
